<app-home></app-home>
<div class="somecss">
<!-- <div>
    <h2 style="margin-top: 20px; text-align: center;">Add a candidate</h2>
    <div style="margin-bottom: 30px; text-align: center;">
        <input class="ng-hide" id="input-file-id" multiple type="file" />
        <button mat-flat-button color="primary" type="submit">Upload</button>
    </div>
</div> -->


<div class="mx-auto" style="width: 400px;">
    <label for="select Job Description">Choose a JD: </label>
    <select name="select Job Description" id="select JD" (change)="getDropdownValue($event)">
        <option value="">--Please choose a JD Type--</option>
        <option>ML Engineer</option>
        <option>Data Scientist</option>
        <option>Embedded Engineer</option>
        <option >Verification Engineer</option>
        <option>Devops Engineer</option>
        <option>Web Developer</option>
    </select>
</div>


<div class="mt-3 col-md-12"></div>

<div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary">Match</button>
</div>

<!-- <div>
  <input list="fruits" id="fruit" name="fruit"/>
  <datalist id="fruits">
    <option value="Mango"></option>
    <option value="Guava"></option>
    <option value="Pineapple"></option>
  </datalist>
</div> -->


<h2> Candidates List </h2>

<mat-form-field>
    <input (keyup)="applyFilter($event)" matInput placeholder="Filter" />
</mat-form-field>
  
  
  
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element["Email Address"]}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element["name"]}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Contact">
        <th mat-header-cell *matHeaderCellDef> Contact </th>
        <td mat-cell *matCellDef="let element"> {{element['Contact Number']}} </td>
      </ng-container>
    
      <ng-container matColumnDef="skills">
        <th mat-header-cell *matHeaderCellDef > Skills </th>
        <td mat-cell *matCellDef="let element"> {{element["skills"]}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr *matNoDataRow>
        <td class="mat-cell" colspan="4">
            The filter does not match any item in the data for query.
        </td>
      </tr>

    </table>

    <mat-paginator [pageSizeOptions]="[2,5,10,50]"></mat-paginator>

</div>
