.somecss{
    border-radius: 10px;
    border-color: red;
    margin: 100px;
}

table {
    margin: 1%;
    width: 100%;
  }

  .mat-cell, .mat-header-cell { overflow: hidden; text-overflow: ellipsis; word-break: break-word; }