table {
    width: fit-content;
  }
  
  /* .mat-form-field {
    font-size: 14px;
    width: 100%;
  } */
  

  .somecss{
    border-radius: 10px;
    border-color: red;
    margin: 1% 10%;
}

.xyz{
  width: 50%;
}

.mat-cell, .mat-header-cell { overflow: hidden; text-overflow: ellipsis; word-break: break-word; }