<app-home></app-home>
<app-upload></app-upload>
<div class="somecss">
<h2>Candidates Detail</h2>

<mat-form-field>
  <input (keyup)="applyFilter($event)" matInput placeholder="Filter" />
</mat-form-field>



<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let element"> {{element["Email Address"]}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element["name"]}} </td>
  </ng-container>
  
  <ng-container matColumnDef="Contact">
      <th mat-header-cell *matHeaderCellDef> Contact </th>
      <td mat-cell *matCellDef="let element"> {{element['Contact Number']}} </td>
  </ng-container>
  
  <ng-container matColumnDef="skills">
      <th class="xyz" mat-header-cell *matHeaderCellDef > Skills </th>
      <td mat-cell *matCellDef="let element"> {{element["skills"]}} </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr *matNoDataRow>
      <td class="mat-cell" colspan="4">
          The filter does not match any item in the data for query.
      </td>
  </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[2,5,10,50]"></mat-paginator>

<!-- <table class="table table-striped">
  <thead>
      <tr>
          <th style="width:5%"> Candidates Name</th>
          <th style="width:5%"> Contact Number </th>
          <th style="width:5%"> Email ID</th>
          <th style="width:10%"> Contact Number</th>
          <th style="width:10%"> Email Address </th>
          <th style="width:10%"> Company Name </th>
          <th style="width:10%"> Experience </th>
          <th style="width:10%"> Qualification </th>
          <th style="width:50%"> Skills  </th>
          <th style="width:10%"> Edit </th> 
          <th style="width:85%" contenteditable="true"> Skills  </th>
          <th style="width:2.5%"> Edit </th>
          <th style="width:2.5%"> Delete </th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let candidate of candidates">
          <td>{{ candidate['NAME']}}</td>
          <td>{{ candidate['Contact Number']}}</td>
          <td>{{ candidate['Email Address']}}</td>
          <td>{{ candidate['Contact Number']}}</td>
          <td>{{ candidate['Email Address']}}</td>
          <td>{{ candidate['Company Name']}}</td>
          <td>{{ candidate.Experience}}</td>
          <td>{{ candidate.Qualification}}</td> 
          <td>{{ candidate.SKILLS}}</td>
          <td><mat-icon>edit</mat-icon></td>
          <td><mat-icon>delete</mat-icon></td> 
          <td>{{ candidate.SKILLS}}</td>
          <td><mat-icon>edit</mat-icon></td>
          <td><mat-icon>delete</mat-icon></td>
      </tr>
  </tbody>
</table> -->
</div>
