.center {
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    padding: 20px 20px;
    border: 1px;
}

table{
    width: 100%;
}

.xyz{
    width: 50%;
}

.mat-cell, .mat-header-cell { overflow: hidden; text-overflow: ellipsis; word-break: break-word; }